/** Floorplan point maps **/

.floorplan-point {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 100;
}

.floorplan-dropdown-label {
  position: absolute;
}

.floorplan-persistent-label {
  position: absolute;
  padding-left: 15px;
  background-color: #fff;
  font-size: 10px;
}

.floorplan-dropdown-contents {
  position: relative;
  min-width: 20em;
  background-color: #fff;
  border: 2px solid #000;
  padding: 0.5em;
  z-index: 200;
}

.floorplan-close-dropdown {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 300;
  width: 20px;
  border: 1px solid #000;
  background-color: #ddd;
  text-align: center;
}

.floorplan-close-dropdown:after {
  content: 'X';
}

.floorplan-glow {
  -webkit-box-shadow: 0px 0px 10px 5px #fff;
  -moz-box-shadow: 0px 0px 10px 5px #fff;
  box-shadow: 0px 0px 10px 5px #fff;
}

#floorplan-tool {
  position: relative;
}

#floorplan-image {
  position: relative;
}

#point-location {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #f90;
  border: 2px solid #fff;
  border-radius: 50%;
}

/** Floorplan legend **/

table.floorplan-legend {
  max-width: 600px;
  margin-bottom: 1em;
}

.floorplan-legend-collapse-button {
  border: 1px solid #333;
  padding: 0.3em;
  font-size: 10px;
  display: inline-block;
  margin-bottom: 1em;
}

.floorplan-legend-color {
  width: 50px;
  text-align: center;
}

td.floorplan-legend-color .floorplan-point {
  position: relative;
  margin: 0 auto;
}
